<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>TPEflow</title>
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" type="text/css" />
        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>
  </head>
  <body>
    {{ div }}        
    {{ script }}        
  </body>
</html>